<div class="container">
  <h1>
    <%= @user.first_name %>, <br><br>
    "Thank you for becoming a VIP community member! I look forward to serving you,
     and together making this world a better, healthier, and more fit and informed
     planet."
   </h1>
  <br><br>
  <h4>
    In Strength,
  </h4>
  <br>
  <br>
  <h5>
    Chris Lockwood, PhD, CSCS
  </h5>
</div>
