<div class="container " style="text-align:center">
  <br><br><br><br><br><br>
  <h1>
    <%= link_to "Sign Up NOW", new_user_registration_path %>
  </h1>
  <br><br><br><br><br><br>
  <div class="">
    <h2>ARRIVING JANUARY 2018!</h2>
    <div class="d-flex justify-content-center">
      <%= image_tag("LOCKWOOD_full_copy.png", :style => 'max-width: 1000px;') %>
    </div>
  </div>
<br><br><br><br><br>
  <h1>
    <%= link_to "Sign Up NOW", new_user_registration_path  %>
  </h1>
  <br><br><br><br><br><br>
  <h4>  Lockwood, INNOVATE – VALIDATE – EDUCATE are trademarks of Lockwood, LLC. </h4>
  <h4> ALL RIGHTS RESERVED.</h4>
</div>
