<div class="container " style="text-align:center">
  <div class="d-flex justify-content-center">
    <%= image_tag("LOCKWOOD_full_copy.png", :style => 'max-width: 1000px;') %>
  </div>
  <br><br><br><br><br><br>
  <h1>
    "Thank you for becoming a VIP community member!
    I look forward to serving you, and together making this world a better, healthier, and more fit and informed planet."
  </h1>

  <br><br><br><br><br><br>
  <h3>
    In Strength,
  </h3>
  <br><br><br>

  <h1><strong>Chris Lockwood, PhD, CSCS</strong></h1>
  <br><br><br><br><br><br>


  <div class="">
    <div class="d-flex justify-content-center">
      <%= image_tag("LOCKWOOD_full_copy.png", :style => 'max-width: 1000px;') %>
    </div>
    <%= social_share_button_tag() %>
  </div>
  <br><br><br><br><br><br>
  <h4>  Lockwood, INNOVATE – VALIDATE – EDUCATE are trademarks of Lockwood, LLC. ALL RIGHTS RESERVED.</h4>
</div>
