<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <div id="slide-out" class=" fixed">
    <ul class="custom-scrollbar list-unstyled">
        <li>
          <div class="logo-wrapper waves-light">
            <a class="navbar-brand" href="#"><%= image_tag("Lockwood_Molecule_w_Key_only.png", :style => 'max-width: 150px;') %></a>
          </div>
        </li>
        <li>
          <ul class="social">
            <%= social_share_button_tag() %>
          </ul>\
        </li>
    </ul>
  </div>
</nav>
